scikit-learn==1.5.2
setuptools==74.1.3
numpy==1.23.1
pyqt5==5.15.4
pandas==1.1.3
geopy==2.2.0
matplotlib==3.5.3
pyproj==3.6.1
pyshp==2.3.1
pyzmq==24.0.1
scikit-learn==1.5.2
haversine==2.7.0
Shapely==1.8.2
geographiclib==1.52
pyzmq==24.0.1
durable-rules==2.0.28
pyinstaller
pillow==11.0.0
